.dark {
	background-color: black;
}
.light {
	background-color: #5737;
}
.align-to-centre {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
button {
	background-color: rgb(244, 142, 246);
	color: black;
	border-radius: 10px;
}
